<form method="POST">

    <input type="email" name="pontuemail" value=" " placeholder="tu email">
    <br> <br>
    <input type="contraseña" name="pon tu contraseña" value=" " placeholder="tu contraseña">
    <br> <br>
    <input type="submit" value="login">

</form>